.container {
  min-height: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "search gallery";
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

.search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
}

.gallery {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: gallery;
}

#box .dog-image {
  width: 200px;
}

#box .dog-star {
  width: 30px;
}

.dog-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dog-box li {
  padding: 15px;
}

#box {
  width: 300px;
}

.search {
  background-color: lightgray;
}

.search .search__male ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search__male li {
  padding: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.search .search__male li img {
  width: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search .search__male li p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search .search__stars ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search__stars li {
  padding: 15px;
}

.search .search__stars li img {
  width: 50px;
}

.header li img {
  width: 50px;
}

#box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.dog-box {
  width: 20vw;
}

section.range-slider {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  text-align: center;
}

section.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  background: #F1EFEF;
  box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  overflow: hidden;
  left: 0;
  top: 50px;
  width: 300px;
  outline: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

section.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  /* android <= 2.2 */
  /* older mobile safari and android > 2.2 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dad8da), to(#413F41));
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}

section.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: black;
  border: 0;
}

section.range-slider input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
/*# sourceMappingURL=style.css.map */